<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div id="ToBuyList" ng-controller='ToBuyController as ToBuyList'>
      <div class="col-md-6">
           <h2>To Buy:</h2>

           <ul>
            <li ng-repeat="item in ToBuyList.items">Buy {{item.quantity}} {{item.name}} <button ng-click="ToBuyList.Bought($index, $ToBuyList.items)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button>
            </li>
          </ul>
          <div ng-if="ToBuyList.items.length==0" class="emptyMessage">Everything is bought!</div>

          

      </div>
    </div>

    <!-- Already Bought List -->
    <div id="AlreadyBoughtList" ng-controller='AlreadyBoughtController as AlreadyBoughtList'>
      <div class="col-md-6">
       <h2>Already Bought:</h2>

       <ul>
            <li ng-repeat="item in AlreadyBoughtList.items">Bought {{item.quantity}} {{item.name}}</li>
        </ul>
        <div ng-if="AlreadyBoughtList.items.length==0" class="emptyMessage">Nothing bought yet.</div>
      </div>
  </div>
</div>

</body>
</html>
